<section class="blog-summary my-5">
  <div class="container">
    <div class="row" data-aos="fade-up" data-aos-easing="ease">
      <div class="col">
        <div class="d-flex">
          <h2 class="display-5 fw-bold">Blog</h2>
          <a
            class="fs-5 fw-medium ms-5 p-0 pt-2 pt-lg-3"
            href="/blog.html"
          >View all</a>
        </div>
        <p
          class="fs-5 text-body-secondary"
        >Articles about JavaScript, Python, and AWS.</p>
      </div>
    </div>

    <div class="row">
      {% for post in site.posts limit:3 %}
      <div
        class="col-12 col-md-6 col-lg-4 mb-4 mb-md-0"
        data-aos="fade-up"
        data-aos-easing="ease"
      >
        <div class="card h-100">
          <div class="card-body d-flex flex-column">
            <p
              class="post-category text-primary fs-6 fw-bold"
            >{{ post.category }}</p>
            <a class="mb-3" href="{{ post.url }}">
              <img
                alt="image"
                class="card-image"
                src="/assets/images/{{ post.image }}"
              />
            </a>
            <a
              class="card-title h4 fw-bold text-decoration-none"
              href="{{ post.url }}"
            >{{ post.title }}</a>
            <p class="card-text">{{ post.subtitle }}</p>
            <p
              class="fw-light fs-6 mt-auto"
            >{{ post.date | date: "%B %d, %Y" }}</p>
            <a class="align-self-end btn btn-primary me-auto" href="{{ post.url }}">Read More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
