<header>
  <div class="container-xl">
    <div class="row justify-content-between pt-1">
      <a class="col-4 mt-3" href="/">
        <span id="logo"></span>
      </a>
      <div class="col-8">
        <ul class="nav justify-content-end">
          {% for item in site.data.navigation %}
            <li class="nav-item">
              <a
                {% if item.link == page.url %}
                  class="border-4 border-bottom border-primary d-none d-md-flex nav-link fw-bold m-3 me-4 p-0 text-body"
                {% elsif item.link == '/contact.html' %}
                  class="btn btn-primary d-none d-lg-flex ms-2 mt-2"
                {% else %}
                  class="d-none d-md-flex nav-link fw-bold m-3 me-4 p-0"
                {% endif %}
                href="{{ item.link }}"
              >
                {{ item.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>
