<div class="container mt-5 p-4">
  <div class="d-flex">
    <h3 class="display-5 fw-bold mt-2">Featured
      <span class="text-primary">Projects</span>
    </h3>
    <a
      class="fs-5 fw-medium ms-5 p-0 pt-3 pt-lg-4"
      href="/projects.html"
    >View all</a>
  </div>
  <p
    class="fs-5 text-body-secondary"
  >Open-source projects I've created over the years.</p>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bold">Espresso</h5>
          <p class="card-text">A lightweight CMS I wrote using ExpressJS.</p>
          <a class="btn btn-primary" href="">Demo</a>
          <a class="btn btn-secondary" href="">GitHub</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bold">Mortgage Calculator</h5>
          <p class="card-text">A mortgage calculator I wrote using React.</p>
          <a class="btn btn-primary" href="">Demo</a>
          <a class="btn btn-secondary" href="">GitHub</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bold">EazyBids</h5>
          <p class="card-text">A React app that sorts and filters shifts.</p>
          <a class="btn btn-primary" href="">Demo</a>
          <a class="btn btn-secondary" href="">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
