<div class="container mt-5 p-4">
  <h3 class="display-5 fw-bold mt-2 mb-3">Featured
    <span class="text-primary">Projects</span>
  </h3>
  <div class="row">
    <div class="col-4">
      <div class="border-0 card shadow-sm">
        <div class="card-body">
          <h5 class="card-title fw-bold">Espresso</h5>
          <p class="card-text">A lightweight CMS I wrote using ExpressJS.</p>
          <a class="btn btn-primary" href="">Demo</a>
          <a class="btn btn-secondary" href="">GitHub</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="border-0 card shadow-sm">
        <div class="card-body">
          <h5 class="card-title fw-bold">Mortgage Calculator</h5>
          <p class="card-text">A mortgage calculator I wrote using React.</p>
          <a class="btn btn-primary" href="">Demo</a>
          <a class="btn btn-secondary" href="">GitHub</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="border-0 card shadow-sm">
        <div class="card-body">
          <h5 class="card-title fw-bold">EazyBids</h5>
          <p class="card-text">A React app that sorts and filters shifts.</p>
          <a class="btn btn-primary" href="">Demo</a>
          <a class="btn btn-secondary" href="">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
