<div class="container my-4">
  <h3 class="display-5 fw-bold mb-3">Skills</h3>
  <div class="row mt-5 text-center">
    <div class="col-6 col-md-4">
      <img
        alt="React"
        height="40"
        src="/assets/images/logos/react_logo.svg"
      />
    </div>
    <div class="col-6 col-md-4">
      <img
        alt="Vue.js"
        height="40"
        src="/assets/images/logos/vue_logo.svg"
      />
    </div>
    <div class="col-6 col-md-4">
      <img
        alt="Next.js"
        height="40"
        src="/assets/images/logos/nextjs_logo.svg"
      />
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col-6 col-md-4">
      <img
        alt="Express.js"
        height="40"
        src="/assets/images/logos/express_logo.svg"
      />
    </div>
    <div class="col-6 col-md-4">
      <img
        alt="Django"
        height="40"
        src="/assets/images/logos/django_logo.svg"
      />
    </div>
    <div class="col-6 col-md-4">
      <img
        alt="MongoDB"
        height="40"
        src="/assets/images/logos/mongodb_logo.svg"
      />
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col-6 col-md-4">
      <img
        alt="MySQL"
        height="40"
        src="/assets/images/logos/mysql_logo.svg"
      />
    </div>
    <div class="col-6 col-md-4">
      <img
        alt="AWS"
        height="40"
        src="/assets/images/logos/aws_logo.svg"
      />
    </div>
    <div class="col-6 col-md-4">
      <img
        alt="TypeScript"
        height="40"
        src="/assets/images/logos/typescript_logo.svg"
      />
    </div>
  </div>
</div>
