#sidebar-nav {
  background-color: $white;
  height: 100vh;
  width: 0;
  position: fixed;
  right: 0;
  z-index: 100;
  transition: width 0.15s ease-in-out;

  a.nav-link {
    color: $gray-700;
  }
  a.nav-link:hover {
    color: $primary;
  }
}
