---
layout: default
---

<div class="article container-fluid px-3">
  <div class="col">
    <div class="row">
      <h6 class="fw-bold mt-3">
        <span class="border-3 border-bottom border-secondary post-category">
          {{ page.category }}
        </span>
      </h6>
      <h1 class="display-4 fw-bold">{{ page.title }}</h1>
      <p class="fs-5 mb-2">{{ page.subtitle }}</p>
      <p>
        <span class="fw-bold pe-1">{{ page.author }}</span>
        |
        <span class="fw-light ps-1">{{ page.date | date: "%B %e, %Y" }}</span>
      </p>

      <img
        alt="{{ page.image-alt }}"
        class="mb-4 post-image"
        src="/assets/images/{{ page.image }}"
      />

      <div class="article-text mb-5">
        {{ content }}
      </div>

    </div>
  </div>
</div>
